<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <system.web>
        <compilation debug="true"  />
        <httpRuntime  enableVersionHeader="false"/>
    </system.web>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By" />   
			    <add name="X-Content-Type-Options" value="nosniff " />
			    <add name="X-Frame-Options" value="DENY" />
			    <add name="Pragma" value="no-cache"></add>
                <add name="cache-control" value="no-cache, no-store, must-revalidate"></add>
			    <add name="X-XSS-Protection" value="1; mode=block"></add>
				<add name="Arr-Disable-Session-Affinity" value="true"/>
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
